body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #BFD8AF;
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 0%;
}

form {
    background: #D4E7C5;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 250px;
    text-align: center;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}


input[type="email"],
input[type="password"]
 {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #E1F0DA;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

button {
    width: 70%;
    padding: 10px;
    background-color: #99BC85;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #BFD8AF;
}

p {
    color: red;
    margin-top: 10px;
}
